@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
body {
    display: flex;
    flex-direction: column;
    background: #f3f3f3;
    font-family: "Roboto", sans-serif;
    
  }
  header, footer {
    position: absolute;
    width:100vw;
    height: 69px;
    left: 0px;
    top: 0px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header h1{
position: absolute;
width: 176px;
height: 43px;
left: 632px;
top: 13px;
z-index: 2;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 43px;
color: #FFFFFF;
}
.criarquiz{
    position: absolute;
    width: 1051px;
    height: 181px;
    left: 194px;
    top: 146px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
}
.msj{
  position: absolute;
  width: 250px;
  height: 107px;
  left: 400px;
  top: 40px;
  
}
.msj h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}
.boton1{
    width: 151px;
    height: 40px;
    margin-left: 40px;
    margin-top: 27px;
    top: 284px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
}
.boton1 h3{
    margin-left: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EC362D;
}

  .hidden {
    display:none !important;
  }
  
  .subtitulo{
    position: absolute;
    width: 224px;
    height: 27px;
    left: 608px;
    top: 140px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
  }
  .criarquizcaixa{
    
    position: absolute;
    width: 600px;
    height: 256px;
    left: 420px;
    top: 194px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  }
  .titulodeseuquiz{
    position: absolute;
    width: 564px;
    height: 46px;
    left: 20px;
    top: 21px;
   
    
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
  }
  .URLdaimg{
    position: absolute;
    width: 564px;
    height: 46px;
    left: 20px;
    top: 76px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
  }
  .Quantidadedeperguntas{
    position: absolute;
    width: 564px;
    height: 46px;
    left: 20px;
    top: 131px;
     
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
  }
  .Quantidadedenive{
    position: absolute;
    width: 564px;
    height: 46px;
    left: 20px;
    top: 186px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
  }
  .boton2{
    position: absolute;
    width: 368.86px;
    height: 54px;
    left: 533px;
    top: 535px;

    background: #EC362D;
    border-radius: 15px;
    
  }
  .boton2 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF5F4;
    margin-left: 50px;
  }
  .subtitulo1{
    position: absolute;
    width: 207px;
    height: 27px;
    left: 617px;
    top: 132px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
  }
  .criarsuasperguntas{
    position: absolute;
    width: 600px;
    height: 825px;
    left: 427px;
    top: 195px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  }
  .pergunta1{
  position: absolute;
  width: 99px;
  height: 23px;
  left: 20px;
  top: 27px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #000000;
  }
  .Textodapergunta{
    position: absolute;
    width: 564px;
    height: 46px;
    left: 20px;
    top: 62px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
  }
  .Cordefundodapergunta{
  position: absolute;
  width: 564px;
  height: 46px;
  left: 20px;
  top: 122px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #BABABA;
  }
  .Respostacorreta{
  position: absolute;
  width: 154px;
  height: 23px;
  left: 20px;
  top: 196px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #000000;
  }
  .Respostacorretadiv{
    position: absolute;
    width: 564px;
    height: 46px;
    left: 20px;
    top: 243px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
  }
  .URLdaimagem{
  position: absolute;
  width: 564px;
  height: 46px;
  left: 20px;
  top: 303px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #BABABA;
  }
.Respostasincorretas{  
position: absolute;
width: 191px;
height: 23px;
left: 20px;
top:377px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #000000;
}
.Respostaincorreta1{
position: absolute;
width: 564px;
height: 46px;
left: 20px;
top: 414px;
background: #FFFFFF;
border: 1px solid #D1D1D1;
box-sizing: border-box;
border-radius: 5px;
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 19px;
line-height: 22px;
color: #BABABA;
}
.URLdaimagem1{
position: absolute;
width: 564px;
height: 46px;
left: 20px;
top: 474px;
background: #FFFFFF;
border: 1px solid #D1D1D1;
box-sizing: border-box;
border-radius: 5px;
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 19px;
line-height: 22px;
color: #BABABA;
}
.Respostaincorreta2{
  position: absolute;
  width: 564px;
  height: 46px;
  left: 20px;
  top: 552px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #BABABA;
}
.URLdaimagem2{
  position: absolute;
  width: 564px;
  height: 46px;
  left: 20px;
  top: 612px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #BABABA;
}
.Respostaincorreta3{
  position: absolute;
  width: 564px;
  height: 46px;
  left: 20px;
  top: 692px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #BABABA;
}
.URLdaimagem3{
  position: absolute;
  width: 564px;
  height: 46px;
  left: 20px;
  top: 752px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #BABABA;
}
.pergunta2{
  position: absolute;
  width: 601px;
  height: 74px;
  left: 426px;
  top: 1044px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.pergunta2 h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 20px;
  margin-top:27px;
}
.pergunta3{
  position: absolute;
  width: 601px;
  height: 74px;
  left: 426px;
  top: 1140px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  
}
.pergunta3 h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 20px;
  margin-top:27px;
}
.boton3{
  position: absolute;
  width: 353.91px;
  height: 54px;
  left: 549px;
  top: 1285px;
  background: #EC362D;
  border-radius: 15px;
}
.boton3 h3{
background: #EC362D;
border-radius: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color: #FFF5F4;
margin-left: 55px;
}
.subtitulo2{
  position: absolute;
width: 240px;
height: 27px;
left: 600px;
top: 132px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 27px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}
.criarnivel{
position: absolute;
width: 600px;
height: 316px;
left: 420px;
top: 202px;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.Nivel1{
position: absolute;
width: 63px;
height: 23px;
left: 20px;
top: 27px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #000000;
}
.Títulodonível{
position: absolute;
width: 564px;
height: 46px;
left: 20px;
top: 62px;
background: #FFFFFF;
border: 1px solid #D1D1D1;
box-sizing: border-box;
border-radius: 5px;
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 19px;
line-height: 22px;

color: #BABABA;
}
.acertomínima{
position: absolute;
width: 564px;
height: 46px;
left: 20px;
top: 122px;
background: #FFFFFF;
border: 1px solid #D1D1D1;
box-sizing: border-box;
border-radius: 5px;
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 19px;
line-height: 22px;

color: #BABABA;
}
.URLdaimagemdonível{
position: absolute;
width: 564px;
height: 46px;
left: 20px;
top: 182px;
background: #FFFFFF;
border: 1px solid #D1D1D1;
box-sizing: border-box;
border-radius: 5px;
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 19px;
line-height: 22px;

color: #BABABA;
}
.Descricaonivel{
position: absolute;
width: 564px;
height: 46px;
left:20px;
top: 242px;
background: #FFFFFF;
border: 1px solid #D1D1D1;
box-sizing: border-box;
border-radius: 5px;
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 19px;
line-height: 22px;

color: #BABABA;
}
.nivel2{
position: absolute;
width: 600px;
height: 74px;
left: 419px;
top: 542px;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #000000;

}
.nivel3{
position: absolute;
width: 600px;
height: 74px;
left: 419px;
top: 638px;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #000000;
}
.nivel2 h3{
  margin-left: 20px;
}
.nivel3 h3{
  margin-left: 20px;
}
.boton4{
position: absolute;
width: 324px;
height: 54px;
left: 567px;
top: 787px;
background: #EC362D;
border-radius: 15px;
}
.boton4 h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color: #FFF5F4;
margin-left: 100px;
}
.subtitulo3{
position: absolute;
width: 230px;
height: 27px;
left: 605px;
top: 140px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
color: #000000;
}
.quizfeito{
position: absolute;
width: 500px;
height: 266px;
left: 470px;
top: 213px;
}
.boton5{
position: absolute;
width: 220.32px;
height: 44px;
left: 609px;
top: 524px;
background: #EC362D;
border-radius: 15px;
}
.boton5 h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color: #FFF5F4;
margin-left: 50px;
}

.boton6 {
position: absolute;
width: 219.64px;
height: 44px;
left: 610px;
top: 577px;
}
.boton6 h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color: #818181;
margin-left: 50px;
}