@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  overflow-wrap: break-word;
}




body {
    background: #f3f3f3;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    
  }

  
header {
  position: fixed;
  /*width:100vw;*/
  height: 69px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  z-index: 3;
  background: #EC362D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*
footer {
    position: absolute;
    width:100vw;
    height: 69px;
    left: 0px;
    top: 0px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*/

header h1{
/*position: absolute;*/
display: flex;
justify-content: center;
align-items: center;
width: 176px;
height: 43px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 43px;
color: #FFFFFF;
}

.criarquiz {
  /*position: absolute;*/
  margin: 0 auto;
  margin-top: 146px;
  width: 935px;
  /*width: 1051px;*/
  height: 181px;
  background: #FAFAFA;
  border: 1px dashed #D5D5D5;
  box-sizing: border-box;
  border-radius: 5px;
}

.msj {
  /*position: absolute;*/
  padding-top: 30px;
  margin: 0 auto;
  width: 250px;
  height: 107px;
  
}
.msj h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #B9B9B9;
}
.boton1 {
    width: 151px;
    height: 40px;
    margin: 0 auto;
    /*margin-left: 40px;*/
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 284px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
}
.boton1 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EC362D;
}

.hidden {
    display:none !important;
  }



.criarquizcaixa {
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 256px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  }


.container-lista-quizzes {
  margin: 0 auto;
  width: 900px;
  display: flex;
  flex-direction: column;

}

/*Seus Quizzes */
.listagem-meus-quizzes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;




}

.cabecalho-lista-quizze {
  width: 200px;
  margin-top: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho-lista-quizze h3 {
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #000000;
}

/*Todos os Quizzes */

.listagem-todos-quizzes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  
}



.listagem-todos-quizzes h3 {
  width: 158px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  }

  .box-quizzes {
    position: relative;
    overflow-wrap: break-word;
    height: 181px;
    width: 100%;
    background-color: red;
    margin-bottom: 15px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
 
     /*background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.585) 30%, transparent 100%);*/
    border-radius: 5px;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .box-quizzes-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
  }

  .box-quizzes-titulo {
    position: absolute;
    bottom: 55px;
    z-index: 1; 
    width: 180px;
    padding-left: 5px;
    color: white; 
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
  }

  /*
  .box-quizzes img {

    -webkit-mask-image: linear-gradient(to top, transparent 45%, black 100%);
    
    

  }
  */



/*Otimizamos para não repetir código*/
.input-quizz-titulo,
.input-quizz-url, 
.input-quizz-qtd-perguntas,
.input-quizz-qtd-niveis,.answer-text-,
.answer-color-,.answer-correct-,.answer-correct-url-,
.answer-incorrect-0,.answer-icnorrect-url-0,.answer-incorrect-1,
.answer-icnorrect-url-1,.answer-incorrect-2,.answer-icnorrect-url-2,.level-titulo,.level-sucess,.level-url,.level-description{
  width: 564px;
  height: 46px;
  margin-top: 10px; 
  padding-left: 20px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 5px;
}

/*Aplica em todos os placeholder dos inputs*/
input::placeholder {
  padding-left: 0px;
  height: 22px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #BABABA;
}

.boton2 {
    margin-top:600px; 
    margin: 0 auto; 
    width: 368.86px;
    height: 54px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #EC362D;
    border-radius: 15px;
    
}

.boton2 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF5F4;
   
}



.subtitulo1{
    position: relative;
    height: 27px;
    text-align: center;
    margin-top: 132px;
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}


  /*criarsuasperguntas é o box padrão para demais perguntas*/
.criarsuasperguntas, .criarnivel {
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding-bottom: 20px;
  /*height: 825px;*/
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.criarsuasperguntas h3, .criarnivel h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    padding-top: 15px;
    text-align: left;
    color: #000000;
}


.separador {
  width: 564px;
  height: 20px;
  background: #FFFFFF;
}



/*Estilização de botões atualizada */
.boton3, .boton4, .boton5 {
  margin: 0 auto; 
  margin-top: 10px;
  margin-bottom: 80px;
  width: 368.86px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EC362D;
  border-radius: 15px;
}
.boton3 h3, .boton4 h3, .boton5 h3 {
background: #EC362D;
border-radius: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
color: #FFF5F4;

}


.quizfeito {
  width: 340px;
  height: 181px;
  margin-bottom: 10px;
  /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url("/assets/images/harry.jpeg");*/
  border-radius: 5px;
}

.boton6 {
  margin: 0 auto; 
  margin-bottom: 80px;
  width: 368.86px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.boton6 h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
color: #818181;
}


/*Start - CSS Tela 2: Página de um quizz (perguntas) */

.cabecalho-quizz-perguntas { 
  position: relative;
  width: 100%;
  height: 227px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
}

.perguntas-titulo {
  position: absolute;
  bottom: 35px;
  z-index: 1; 
  width: 100%;
  height: 54px;
  font-weight: 400;
  font-size: 39px;
  line-height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.perguntas-img {
  object-fit: cover;
  width: 100%;
  height: 227px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-quizz-perguntas, .box-quizz-resultado { 
  margin: 0 auto;
  padding-top: 10px;
  margin-top: 50px;
  width: 759px;
  height: 676px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.perguntas-top {
  margin: 0 auto;
  width: 720px;
  height: 137.99px;
  
}

.perguntas-top h3 {
  padding-top: 40px;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  color: #FFFFFF;;
  display: flex;
  justify-content: center;
  align-items: center;


}

.box-opcoes {
  margin: 0 auto;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 659px;
  height: 676px;
}

.opcao {
Width: 329.91px;
height: 175.2px;

border-radius: 0px;
}

.opcao-img {
  Width: 329.91px;
  height: 175.2px;
  object-fit: cover;
}

.correto {
  color: #009c22;
  pointer-events: none;
}

.errado {
  color: #ff4b4b;
  pointer-events: none;
}

.nao-selecionado {
  opacity: 30%;
}



/*End - CSS Tela 2: Página de um quizz (perguntas) */

/*Midia Query: */
@media (max-width:600px) {


  header h1 {
    width: 100%;
  }

  .criarquiz {
    width: 90%;
  }

  .msj { 
    width: 70%;
  }

  .criarquizcaixa {
    width: 100%;
  }

  .input-quizz-titulo, .input-quizz-url, .input-quizz-qtd-perguntas, .input-quizz-qtd-niveis {
    width: 95%;

  }

  .subtitulo1 {
    width: 100%;
  }

  .botton2, .boton3, .boton4, .boton5, .boton1, .boton6 {
    width: 100%;
  }

  .criarsuasperguntas, .criarnivel {
    width: 80%;
  }

  .container-lista-quizzes {
    width: 100%;
  }

  .quizfeito {
    width: 100%;
  }

}